
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

*.env
.env.local
.env.development
.env.test
.env.production


dist/
build/
.cache/
.tmp/
out/


*.log


.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.vite/
frontend/.next/
frontend/.turbo/
frontend/.parcel-cache/


backend/node_modules/


*.tsbuildinfo


